/* テーブルタグのCSS */
.plt{
   display: inline-block;
   text-align: center;
   margin:20px 200px 20px 200px;
 }


 
 table{
   height: 100%;
   width:100%;
 }
 
 table , td, th {
     border: 2px solid #3d3a3a;
 
 }
 td, th {
     padding: 3px;
     width: 30px;
     height: 25px;
 }
 th {
     background: #f0e6cc;
 }
 .even {
     background: #fbf8f0;
 }
 .odd {
     background: #fefcf9;
 }
 
 .pname{
   background-color: rgb(61, 57, 187);
   font-weight: bold;
   color:rgb(248, 248, 14);
   font-size:19px;
 }
 
 .mchara{
   
   color:rgb(255, 255, 255);
   background-color: rgb(14, 111, 118);
 }
 
 .twitterpage{
   background-color: rgb(79, 172, 205);
   color:blue;
 }

 .twitterpage a{
  color:blue;
  text-decoration:underline;

 }
 
 .bombmatep{
   background-color: #858585;
   color:blue;
 }

 .bombmatep a{
  color: blue;
  text-decoration:underline;
 }
 
 .youtubech{
   background-color: rgb(251, 117, 139);
   color:blue;
 }

 .youtubech a{
  color: blue;
  text-decoration:underline;
 }
 
 .introduction{
   text-align: left;
   background-color: rgb(1, 58, 138);
   color:white;

 
 }


/* テーブルタグのCSS */

/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   /* background-color: #e6e6e6; */
   background-image:  url(sbro.jpg);
   background-size: 100% 100%;
   background-attachment:fixed;
}

header {  
   padding: 20px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color:rgb(142, 142, 142);
   display: flex;
   align-items: center;

}

h1 {
   margin: 0; padding: 0;

}

a {	
   text-decoration: none;
   color: #fff;
}

.logo-top{
   color:rgb(0, 0, 0);
}

.logo-top:hover{
   background-color: silver;
}

.headerul{
   list-style: none;
   margin: 0;
   display: flex;

}

.header-link{
   font-size:16px;
}

.header-link:hover{
   background-color: black;
}

li{
   margin: 0 0 0 15px;
   font-size: 14px;
}


footer {
   padding: 15px 4% 10px;
   margin-top: auto;

   bottom: 0;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   background-color: darkslateblue;
}

.footerul{
   list-style: none;
   margin: 0;

}

.footer-title{
   font-weight: normal;
   color:aqua;
   font-size:20px;
}

.footer-link{
   font-size:18px;
}

.footer-link:hover{
   background-color: black;
}

.caution{
   color:rgb(148, 4, 28);
   font-weight: bold;
}



.container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.takasa{
  padding-top:100px;
}


.main{
  padding-top:100px;
  margin-left:20px;
}

.top-txt{
   font-size:18px;
   font-weight: 900;
 }

 .top-txton{
   color:blueviolet;
   font-weight: bolder;
 }

 .top-under{
   margin-top:10px;
   font-size:30px;
   font-weight: bold;
   color: blueviolet;
   
 }

 .page-padding{
   padding-top:100px;
   /* margin-left:20px; */
 } 

 .upd-txt p{
   margin:10px 20px;
   border-bottom:3px solid rgb(109, 108, 108);
   color: rgb(91, 94, 55);
   font-weight: bold;
   font-size:16px;
 }

 .pov-content{
   margin-left:20px;
 }

 .povpre{
   width:50%;
   height:50%;
 }
 
 .pretxt{
   color:rgb(0, 0, 0);
   font-size:16px;
   font-weight: bold;
 }

 .permission{
   color:red;
 }

 .caution-msg{
   margin-left:20px;
 }

 .caution-msg p{
   font-weight: bold;
   font-size:18px;
 }
 
 .please{
   color:red;
 }
 
 .zoom{
   color:rgb(255, 102, 0);
   font-size: 28px;
 }

 .syllavary{
   text-align: center;
 }

 .syllavary a{
   text-decoration:underline;
   color:blue;
 }

 .syllavary a:hover{
   background-color: gold;
 }

.pcch{
  color:red;
  font-size:20px;
  font-weight: bold;

}
